language: node_js
node_js:
- stable
install: npm install
services:
- postgresql
before_script:
- npm run db:create:test
script: npm test
after_success: npm run coverage
deploy:
  provider: heroku
  api_key:
    secure: UCf6nfVKlTtl09NgK51RkPJg1V5bo8rNCuWchSfWE405KwsvGOue0HGYgf3w2XQCm0kr2Te54dcaM/PuwRp2cYKsxOKkrCfx06rihePG5bUG1LQyptntj0CTY/iqeYUifEmVXaOR7rOWkbVjGNXLWRZzR8xidRG9GUT8uU+UtUp9P1MbBE1xDCcWxLCrQjl+rwbZXPrfl8fTILr7onxuKSPRCYGVUHskpuf16A9ksy8z4+IDRn2SS89p5EeJLuMNrQ2QxRe58Y8/Y3RRRQiHkvKIVLXHcYlhNDo8hKZNO54C0og/NYq89mYRQOkyF5kVdBk/hIt/8TlizJFvJrxIrUXzHMUl76JeVbg8li394WJPXOzO5Yuv+7ZEN0homlVCEyLjNjlDPJfG7o3yoC+3Mtk6uhw59GJ3zsi9C7wJ/JjVXtCKCB8UGYSz37ewo8pBXHbqX7TNkCzBeikTSSEvto1pbmb94dkQQaDgdKwoOxhiKYI5ClhNm4hrd5NXfv99x0rJB28oOHI7AGOqshDwXDRr4u4935+YJvB8tjeMWZinMmdtD8Eo5dIqnw4tFUsWbk9DEBdDX14O9VzpPH0eu0B0+zBc+M/ICiMC30bjXImi1dqDOC8qrrYE33cbWcUVigiN3GLIWlyC5VRUXkNUFwPe7AUFx16VL3wToWA1EHk=
  app: yev-users-ci
  on:
    repo: yevyork/express-api-ci
run:
- npx sequelize-cli db:migrate
- npx sequelize-cli db:seed:all
